.nav{
  /* display: flex;
  justify-content: space-between; */
  /* align-items: center; */
}

.button{
  /* background-color: #000; */
  color: #0D5FE7;
  border: none;
}
.button:hover {
  transform: scale(10px);
}

@media only screen and (max-width: 420) {
  .nav {
      display: flex;
      flex-direction: column;
  }
}