.list_div {
    height: 450px;
    overflow: auto;
}

.info__ {
    display: flex;
    justify-content: space-between;
    color: black !important;
    border-color: #000 !important;
}

.radios__ {
    min-width: 210px
}


@media only screen and (max-width: 360px) {
    .info__ {
        display: block;
        flex-direction: column;
    }
}

.color__home {
    background-color: #0D9DFF;
}

.sectionHome{
    background-color: #beb8ac;
    color: #000;
    margin: 5px;
}

.radios__ {
    background-color: #beb8ac;
}

.iconesHome{
    width: 150px;
    height: 150px;
    background-color: #0D9DFF;
    padding: 10px;
    border-radius: 80px;
    border: 3px solid #050081;
}

.linhaHome{
    display: flex;
    flex-direction: row;
}

.inferiorHome{
    background-color: #0D9DFF;
}

.list__button {
    background-color: #050081;
    color: white !important;;
}

.list__button:hover {
    background-color: #0D9DFF;

}