.div_registry {  /* USED IN "REGISTRY.JSX */
    width: 200px;
    min-height: 250px;
    border: 1px solid purple
}

  .invalid {
      border: 1px solid #d11709;
  }

  .div_list__registry {
    width: 250px;
    height: 250px;
  }
